@font-face{
	font-family: DigitalPixelV123;
	font-display: swap;
	src: url("../fonts/DigitalPixelV123-Regular.woff2") format("woff2"), url("../fonts/DigitalPixelV123-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
